@import '../../../tokens/build/scss/_variables.scss';
@import '../../../utils/mixins';

.nb-brand-icon.nb-brand-icon-cc-webapp {
  width: 70px;
  height: 70px;

  path,
  &.nb-brand-icon--dark path {
    &.nb-brand-icon--cc-webapp-shadow {
      fill: $color-accent-dark;
    }
    &.nb-brand-icon--cc-webapp-top-left {
      fill: $color-primary-300;
    }
    &.nb-brand-icon--cc-webapp-bottom-right {
      fill: $color-primary-500;
    }
    &.nb-brand-icon--cc-webapp-bubble {
      fill: $icon-mono-1;
    }
    &.nb-brand-icon--cc-webapp-stand {
      fill: $color-accent-dark;
    }
  }
  &.nb-brand-icon--light path {
    &.nb-brand-icon--cc-webapp-shadow {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--cc-webapp-top-left {
      fill: $icon-mono-1;
    }
    &.nb-brand-icon--cc-webapp-bottom-right {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--cc-webapp-bubble {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--cc-webapp-stand {
      fill: $icon-mono-3;
    }
  }
  &.nb-brand-icon--light-on-white path {
    &.nb-brand-icon--cc-webapp-shadow {
      fill: $icon-mono-4;
    }
    &.nb-brand-icon--cc-webapp-top-left {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--cc-webapp-bottom-right {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--cc-webapp-bubble {
      fill: $icon-mono-1;
    }
    &.nb-brand-icon--cc-webapp-stand {
      fill: $icon-mono-4;
    }
  }
}
