@import '../../../tokens/build/scss/_variables.scss';
@import '../../../utils/mixins';

.nb-brand-icon.nb-brand-icon-blog {
  width: 70px;
  height: 70px;

  rect,
  &.nb-brand-icon--dark rect {
    &.nb-brand-icon--blog-page {
      fill: $color-primary-300;
    }
    &.nb-brand-icon--blog-shadow {
      fill: $color-accent-dark;
    }
    &.nb-brand-icon--blog-box {
      fill: $color-primary-500;
    }
  }
  &.nb-brand-icon--light rect {
    &.nb-brand-icon--blog-page {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--blog-shadow {
      fill: $icon-mono-1;
    }
    &.nb-brand-icon--blog-box {
      fill: $icon-mono-4;
    }
  }
  &.nb-brand-icon--light-on-white rect {
    &.nb-brand-icon--blog-page {
      fill: $icon-mono-4;
    }
    &.nb-brand-icon--blog-shadow {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--blog-box {
      fill: $icon-mono-1;
    }
  }
}
