@use 'sass:math';
@import '../../../tokens/build/scss/_variables.scss';

$pagination-control-size-height: 32px;

.controls {
  flex: 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 math.div($size-spacer-xxs, 2);
  gap: $size-spacer-xxs;
  height: $pagination-control-size-height;

  button {
    height: 100%;
  }
}
