@import '../../../tokens/build/scss/_variables.scss';

.tags {
  display: flex;
  gap: $size-spacer-md;

  p {
    margin: 0;
    padding: 0;
    line-height: unset;
  }

  svg {
    margin-right: $size-spacer-xs;

    // CSS Button hack, we use a supported but not available property to "hack" the browser
    // into thinking we've set a value when we're actually setting it to the equivelent of undefined.
    // We'll fix this when we tackle icons.
    & path {
      fill: revert-layer !important;
    }
  }
}

.hint {
  color: $color-text-300;
  font: $font-body-sm-compact;
  margin: 0;
  margin-top: $size-spacer-sm;
}
