@import '../../../tokens/build/scss/_variables.scss';
@import '../../../utils/mixins';

.nb-brand-icon.nb-brand-icon-faq {
  width: 70px;
  height: 70px;

  path,
  &.nb-brand-icon--dark path {
    &.nb-brand-icon--faq-back {
      fill: $color-accent-dark;
    }
    &.nb-brand-icon--faq-front {
      fill: $color-primary-300;
    }
    &.nb-brand-icon--faq-question-mark {
      fill: $color-bg-default;
    }
  }
  &.nb-brand-icon--light path {
    &.nb-brand-icon--faq-back {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--faq-front {
      fill: $icon-mono-1;
    }
    &.nb-brand-icon--faq-question-mark {
      fill: $icon-mono-2;
    }
  }
  &.nb-brand-icon--light-on-white path {
    &.nb-brand-icon--faq-back {
      fill: $icon-mono-4;
    }
    &.nb-brand-icon--faq-front {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--faq-question-mark {
      fill: $icon-mono-3;
    }
  }
}
