@import '../../../tokens/build/scss/_variables.scss';
@import '../../../utils/mixins';

.nb-brand-icon.nb-brand-icon-news {
  width: 70px;
  height: 70px;

  path,
  rect,
  &.nb-brand-icon--dark path,
  &.nb-brand-icon--dark rect {
    &.nb-brand-icon--news-back {
      fill: $color-accent-dark;
    }
    &.nb-brand-icon--news-page {
      fill: $color-primary-300;
    }
    &.nb-brand-icon--news-line {
      fill: $color-primary-500;
    }
  }
  &.nb-brand-icon--light path,
  &.nb-brand-icon--light rect {
    &.nb-brand-icon--news-back {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--news-page {
      fill: $icon-mono-1;
    }
    &.nb-brand-icon--news-line {
      fill: $icon-mono-4;
    }
  }
  &.nb-brand-icon--light-on-white path,
  &.nb-brand-icon--light-on-white rect {
    &.nb-brand-icon--news-back {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--news-page {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--news-line {
      fill: $icon-mono-1;
    }
  }
}
