@import '../../../tokens/build/scss/_variables.scss';
@import '../../../utils/mixins';

.nb-brand-icon.nb-brand-icon-simple {
  width: 70px;
  height: 70px;

  path,
  &.nb-brand-icon--dark path {
    &.nb-brand-icon--simple-background {
      fill: $color-primary-500;
    }
    &.nb-brand-icon--simple-shadow,
    &.nb-brand-icon--simple-tick {
      fill: $color-accent-dark;
    }
    &.nb-brand-icon--simple-circle {
      fill: $color-primary-300;
    }
  }
  &.nb-brand-icon--light path {
    &.nb-brand-icon--simple-background {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--simple-shadow,
    &.nb-brand-icon--simple-tick {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--simple-circle {
      fill: $icon-mono-1;
    }
  }
  &.nb-brand-icon--light-on-white path {
    &.nb-brand-icon--simple-background {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--simple-shadow,
    &.nb-brand-icon--simple-tick {
      fill: $icon-mono-4;
    }
    &.nb-brand-icon--simple-circle {
      fill: $icon-mono-2;
    }
  }
}
