@import '../../../tokens/build/scss/_variables.scss';
@import '../../../utils/mixins';

.nb-brand-icon.nb-brand-icon-company {
  width: 70px;
  height: 70px;

  path,
  &.nb-brand-icon--dark path {
    &.nb-brand-icon--company-front {
      fill: $color-primary-300;
    }
    &.nb-brand-icon--company-side {
      fill: $color-primary-500;
    }
    &.nb-brand-icon--company-top {
      fill: $color-accent-dark;
    }
  }
  &.nb-brand-icon--light path {
    &.nb-brand-icon--company-front {
      fill: $icon-mono-1;
    }
    &.nb-brand-icon--company-side {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--company-top {
      fill: $icon-mono-3;
    }
  }
  &.nb-brand-icon--light-on-white path {
    &.nb-brand-icon--company-front {
      fill: $icon-mono-2;
    }
    &.nb-brand-icon--company-side {
      fill: $icon-mono-3;
    }
    &.nb-brand-icon--company-top {
      fill: $icon-mono-4;
    }
  }
}
